html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    width: 100%;
    height: 100%;

    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $lightBlue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100svh;
}

.container {
    width: 87.2%;
    max-width: 28.125rem;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 25px -20px $gray;

    .illustration {
        border-radius: 20px 20px 0 0;
        width: 100%;
        max-width: inherit;
    }
}

.content {
    padding: 2.5rem;

    article {
        h1 {
            font-weight: $extrabold;
            font-size: 1.75rem;
            color: $xdBlue;

            margin-block-start: 0;
        }

        p {
            font-weight: $medium;
            font-size: 0.9875rem;
            color: $gray;
            letter-spacing: 0.01875rem;
        }
    }
}

span {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.625rem;
    margin-block-end: 1.875rem;
    background-color: $xlBlue;
    padding: 1.5rem;
    border-radius: 16px;

    .plan {
        img {
            width: 3.125rem;
            height: 3.125rem;
        }

        display: flex;
        text-align: left;

        .plan-details {
            padding-left: 1.25rem;
        }

        p {
            margin: 0;
        }

        .annual {
            font-weight: $extrabold;
            color: $xdBlue;
        }

        .price {
            color: $gray;
            font-weight: $medium;
        }
    }

    .change {
        text-decoration: underline;
        color: $darkBlue;
        font-weight: $bold;
        font-size: 0.875rem;

        &:hover {
            text-decoration: none;
            opacity: 75%;
            cursor: pointer;
            transition: 200ms ease-in-out;
        }
    }
}

button {
    width: 100%;
    padding: 0.875rem 0;
    font-family: inherit;
    font-size: 0.9375rem;
    font-weight: $extrabold;
    border: none;
    border-radius: 10px;

    &:not(:last-child) {
        margin-block-end: 1rem;
    }
}

.payment {
    background-color: $darkBlue;
    color: $xlBlue;
    box-shadow: 0 5px 30px -10px $gray;

    &:hover {
        opacity: 75%;
        transition: 200ms ease-in-out;
        cursor: pointer;
    }
}

.order {
    background-color: transparent;
    color: $gray;

    &:hover {
        color: $xdBlue;
        transition: 200ms ease-in-out;
        cursor: pointer;
    }
}

// Mobile

@media (max-width: 28.125rem) {

    body {
        background-image: url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .content {
        padding: 1.5rem;

        article {
            h1 {
                font-size: 1.375rem;
            }
        }
    }

    span {
        margin-block-start: 1.875rem;
        margin-block-end: 1.5rem;
        padding: 1rem;

        img {
            width: 2.875rem;
        }

        p {
            font-size: 0.875rem;
        }

        .plan {
            text-align: left;
        }
    }

    button {
        &:not(:last-child) {
            margin-block-end: 0.625rem;
        }
    }
}