// COLORS

//Primary Colors
$lightBlue: hsl(225, 100%, 94%);
$darkBlue: hsl(245, 75%, 52%);

//Neutral Colors
$xlBlue: hsl(225, 100%, 98%);
$gray: hsl(224, 23%, 55%);
$xdBlue: hsl(223, 47%, 23%);


//FONT-WEIGHTS
$medium: 500;
$bold: 700;
$extrabold: 900;